.header{
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__left{
    display: flex;
    align-items: center;
    flex: 0 0 25%;
  }
  &__brand-logo{
    max-width: 9rem;
    width: 100%;
  }

  &__hamburger{
    display: flex;
    padding: 1.8rem 1rem;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    &>span{
      width: 20px;
      height: 1px;
      background-color: var(--c-ham-line);

    }
    &::before{
      position: absolute;
      content: '';
      width: 20px;
      height: 1px;
      top: 37%;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--c-ham-line);
    }
    &::after{
      position: absolute;
      content: '';
      width: 20px;
      height: 1px;
      bottom: 35%;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--c-ham-line);
    }

    &:hover{
      background-color: #3e3e3e;
    }

  }

  &__center{
    flex: 0 0 620px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__searchbar{
    background-color: #262625;
    border-radius: 30px;
    padding-block: 0.3rem;
    padding-inline: 2rem;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &-input{
      max-width: 560px;
      width: 100%;
      font-size: 1.4rem;
      border: 0;
      padding-block: 0.5rem;
      background-color: inherit;
      position: relative;

      &:focus{
        outline: 0px;
      }
    }
    &:focus-within{
      outline: 1px solid rgb(91, 91, 255);
    }


    &-holder{
      width: 100%;
      position: relative;
    }

  }

  &__search-btn{
    background-color: inherit;
    border: 0;
    width: fit-content;

    &:hover{
      border: 0;
    }
  }

  &__searchbar-clear{
    position: absolute;
    content: '';
    background: url("/src/assets/img/cross-23.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 16px;
    height: 24px;
    display: block;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__searchicon{
    max-width: 18px;
    height: 20px;
    margin-left: 1rem;
    cursor: pointer;
  }

  &__voice-search{
    background: #262625;
    padding: 0.8rem 1rem ;
    border-radius: 50%;
    margin-left: 1rem;
    transition: background-color 0.3s ease-in-out;

    &:hover{
      background-color: #353535;
    }

    &-icon{
      max-width: 18px;
      width:100%
    }
  }

  &__features{
    list-style: none;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: flex-end;
  }

  &__right{
    flex: 0 0 25%;
  }

  .header-icon{
    max-width: 24px;
    height: 24px;
  }
}
.notification-alert>img{
  max-width: 22px !important;
  height: 22px;
}

.user-profile-icon{
  width: 24px;
  height: 24px;
  background-color: #c5c5c5;
  border-radius: 50%;
}

